
<div id="about-content">
  <h4 id="about-title" class="center-align">About</h4>
  <div>
    <p class="about-p">WDIConf is a gathering that brings passionate people together for a series of tech talks.</p>
    <p id="about-para" class="section scrollspy about-p">This one day event will be hosted at General Assembly's Melbourne campus. The talks cover cutting edge tech being implemented in todays biggest web companies.</p>
    <p id="about-para" class="section scrollspy about-p">Guest speakers will be talking about the latest version of JavaScript, ES6. WDIConf also covers Materalize - a modern responsive CSS framework based on material design by Google - with a focus on using materalize to spice up your sites appearance. Linux and free software will be covered in one of our talks. If you’re interested in working remotely we have you covered in our digital nomads masterclass. One of the hottest things behind the internet this year, React.js, will be covered from a beginners perspective.</p>
    <p id="about-para" class="section scrollspy about-p">WDIConf has something for everyone, beginners and experts alike. Tickets are available for individual talks or the whole event.</p>
    <p id="about-para" class="section scrollspy about-p">Come and enjoy WDIConf 2016!</p>
  </div>
</div>
