
<div id="about-content">
  <h4 id="about-title" class="center-align">About</h4>
  <div>
    <p class="about-p">
      WDIConf16 is where it's at!
    </p>
    <p id="about-para" class="section scrollspy about-p">
      Everybody knows the internet is the best thing since sliced bread. 
    </p>
  </div>
</div>
