<div id="about-wrap" class="card-panel">
  <div id="about-title" class="card-panel">
  <h2 class="center-align">about</h2>
  </div>
  <div class="container">
    <div class="col s1">
     
     <div>
       
    </div>  

      <div id="about-content" class="card-panel"> 
       <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eius quasi libero possimus, sint laboriosam numquam, error asperiores odio non architecto consequatur quaerat, voluptate, mollitia modi repudiandae. Sit, minus, a.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam repudiandae maxime veniam nemo similique, numquam, nihil error aliquid excepturi. Porro consequuntur sed quae dolorum a recusandae doloremque, perferendis dolore qui.</p>
        </div>
      
      <!-- Scroll wheel-->
      

    </div
      <div id="about-image">
    </div>
  </div>