
<video width="320" height="240" autoplay>
  <source src="https://www.google.com/calendar/about/assets/videos/google-calendar-loop.mp4" type="video/mp4">
  <source src="https://www.google.com/calendar/about/assets/videos/google-calendar-loop.webm" type="video/webm">
  <source src="https://www.google.com/calendar/about/assets/videos/google-calendar-loop.ogg" type="video/ogg">
</video>

<h4 id="title-msg"class="animated fadeInDown">WDI Conf - Save the Date</h4>

<a id="buy-btn" href="#" data-activates="book" class="button-collapse waves-effect waves-light btn"><i class="material-icons">Buy Tickets</i></a>

<div id="book" class="side-nav">

  <div class="ticketing">
    <!-- <div class="talk-list collection">
      <div class="talk collection-item row" id="1">
        <div class="topic col s1">Js Prototype</div>
        <div class="price col s1">$50</div>
        <div claas="seats col s1">50</div>
        <div class="ticketForm col s1">
          <input class="ticketQty" type="text" value=100>
          <button class="minus"> - </button>
          <button class="plus"> + </button>
        </div>
      </div>

    </div> -->


  </div>

 <a id="book-btn" href="#" data-activates="payment" class="button-collapse waves-effect waves-light btn"><i class="material-icons">Book</i></a>
</div>

<div id="payment" class="side-nav">

  <div class="summary-payment">

  </div>

  <div>
    <form action="/charges" method="POST" id="payment-form">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <span class="payment-errors"></span>

      <div class="form-row">
        <label>
          <span>Card Number</span>
          <input type="text" size="16" data-stripe="number" value="4242424242424242">
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Expiration (MM/YY)</span>
          <input type="text" size="2" data-stripe="exp_month" value="10">
        </label>
        <span> / </span>
        <input type="text" size="2" data-stripe="exp_year" value="17">
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          <input type="text" size="4" data-stripe="cvc" value="123">
        </label>
      </div>
      <input name="totalPrice" class="total-price" type="hidden" value="">

      <button type="submit" class="submit">Pay</button>
    </form>
  </div>

 </div>

<div id="confirmation" class="side-nav">
  <a id="home-btn" href="#" class="waves-effect waves-light btn"><i class="material-icons">Home</i></a>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
</script>
