<h1>Head</h1>


 <a href="#" data-activates="book" class="button-collapse waves-effect waves-light btn"><i class="material-icons">Buy Tickets</i></a>

 <ul id="book" class="side-nav">
   <a href="#" data-activates="payment" class="button-collapse waves-effect waves-light btn"><i class="material-icons">Book</i></a>
 </ul>

 <ul id="payment" class="side-nav">
   <a href="#" data-activates="confirmation" class="button-collapse waves-effect waves-light btn"><i class="material-icons">Pay</i></a>
  </ul>

<ul id="confirmation" class="side-nav">
  <a id="go-home" href="#" class="button-collapse waves-effect waves-light btn"><i class="material-icons">Home</i></a>
 </ul>
