<!-- this section is the heading for the mobile version -->
<div class="smallScreen">
  
  <video id="top" class="responsive-video center-align section scrollspy" width="320" height="240" autoplay>
    <source src="https://www.google.com/calendar/about/assets/videos/google-calendar-loop.mp4" type="video/mp4">
    <source src="https://www.google.com/calendar/about/assets/videos/google-calendar-loop.webm" type="video/webm">
    <source src="https://www.google.com/calendar/about/assets/videos/google-calendar-loop.ogg" type="video/ogg">
  </video>

  <h4 class="title-msg animated fadeInDown center-align">Web Development Conference</h4>
  <h4 class="title-msg animated fadeInDown center-align">31 Oct 2016</h4>
  <a id="buy-btn" href="#" data-activates="book" class="button-collapse waves-effect waves-light btn-large title-msg animated fadeInDown">Buy Tickets</a>


  <div>
    <i id="tick" class="large material-icons">done</i>
    <h4 id="payment-successful" class="center-align line-height-h4">Payment Successful</h4>
    <p id="payment-text" class="center-align line-height">Your tickets along with your payment confirmation have been emailed to you</p>
    <p id="payment-text2" class="center-align line-height">See you there!</p>
    <a id="home-btn" class="waves-effect waves-light btn-large">Home</a>
  </div>

  <a href="#about-para">
    <div class="divider"></div>
    <div class="section">
      <h5 class="center-align menu-item">About</h5>
    </div>
  </a>

  <a href="#about-para">
    <div class="divider"></div>
    <div class="section">
      <h5 class="center-align menu-item">Location</h5>
    </div>
  </a>


<div>
  <i id="tick" class="large material-icons">done</i>
  <h4 id="payment-successful" class="center-align line-height-h4">Payment Successful</h4>
  <p id="payment-text" class="center-align line-height">Your tickets along with your payment confirmation have been emailed to you</p>
  <p id="payment-text2" class="center-align line-height">See you there!</p>
  <a id="home-btn" class="waves-effect waves-light btn-large">Home</a>

  <a href="#about-para">
    <div class="divider"></div>
    <div class="section">
      <h5 class="center-align menu-item">Speakers</h5>
    </div>
  </a>

  <a href="#about-para">
    <div class="divider"></div>
    <div class="section">
      <h5 class="center-align menu-item">Sponsors</h5>
    </div>
  </a>

  <a href="#about-para">
    <div class="divider"></div>
    <div class="section">
      <h5 class="center-align menu-item">Contact Us</h5>
    </div>
    <div class="divider"></div>
  </a>

</div>

<!-- this ends the section for the mobile heading -->

<!--- this begins the section for the laptop heading -->

<div class="bigScreen">
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" id="navCloseBtn" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Location</a>
  <a href="#">Speakers</a>
  <a href="#">Timetable</a>
  <a href="#">Sponsors</a>
  <a href="#">Contact Us</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">open</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

</div>

<!-- this ends the section for the laptop heading -->

<div id="book" class="side-nav z-depth-0">

      <div class="ticketing">

        <div class="talk-list container">

            <!-- ticket booking form goes in here -->

        </div>

      </div>

      <a id="book-btn" href="#" data-activates="payment" class="button-collapse waves-effect waves-light btn">Book</a>
</div>


<div id="payment" class="side-nav z-depth-0">
  <div class="summary-payment"></div>
  <div class="payment-container">
    <div class="row">
      <form class="col s12" action="api/charges" method="POST" id="payment-form">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <span class="payment-errors"></span>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">credit_card</i>
            <input id="cardNo" type="number" size="16" data-stripe="number" value="4242424242424242" class="validate">
            <label for="cardNo">Card Number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="exp_m" type="number" size="2" data-stripe="exp_month" value="10" class="validate">
            <label for="exp_m">Expiration Month (MM)</label>
          </div>
          <div class="input-field col s6">
            <input id="exp_yr" type="text" size="2" data-stripe="exp_year" value="17" class="validate">
            <label for="exp_yr">Expiration Year (YY)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="cvc" type="number" size="4" data-stripe="cvc" value="123" class="validate">
            <label for="cvc">CVC</label>
          </div>
        </div>
        <input id="total" name="totalPrice" class="total-price" type="hidden" value="100">
        <div class="row">
          <div class="col s6">
            <a id="back-btn" class="waves-effect waves-light btn-large">Back</a>
          </div>
          <div class="col s6">
            <button id="submit-btn" class="btn-large waves-effect waves-light submit" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="confirmation" class="side-nav z-depth-0">
</div>


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
</script>
