<h4 id="schedule-title" class="center-align">Schedule</h4>

<table style="width:100%" class="bordered highlight">
  <tr>
    <th>WDI Conf</th>
    <th>Topic</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>Mark Zuckerburg</td>
    <td>Lamborgini vs React</td>
    <td>6:00pm</td>
  </tr>
  <tr>
    <td>Linus Torvolds</td>
    <td>Throw your windows laptop out the window</td>
    <td>4:45pm</td>
  </tr>
  <tr>
    <td>Laurie Parker</td>
    <td>Learn Materalize</td>
    <td>3:00pm</td>
  </tr>
  <tr>
    <td>Hellen C</td>
    <td>How to be a digital nomad</td>
    <td>1:15pm</td>
  </tr>
  <tr>
    <td>Hank Scorpio</td>
    <td>World Business Entrepreneur</td>
    <td>12:30pm</td>
  </tr>
  <tr>
    <td>Sarah Wall</td>
    <td>I'm tired of Pearl,lets learn es6</td>
    <td>11:30am</td>
  </tr>
  <tr>
    <td>Professor Ray</td>
    <td>NP Hard Problem Softened</td>
    <td>10:45pm</td>
  </tr>
</table>
