<div id="speakers-section">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align">Speakers</h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://blogs.timesofindia.indiatimes.com/wp-content/uploads/2015/12/mark-zuckerberg.jpg" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Mark Zuckerburg</h5>
          <p class="speak-text">Lamborgini vs React</p>
          <p class="speak-text">6:00pm</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">React is a JavaScript library for building user interfaces, created and open-sourced by Facebook. It was first released in 2013, and its original slogan was, “Rethinking best practices.” Why? Because the most well-known JavaScript frameworks (i.e., Ember.js and AngularJS) at the time based their architecture on the MVC pattern, which largely focuses on separating the application logic from the view.</p>
      </div>
    </li>
   <li>
      <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div id="speak-pic" class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="https://avatars3.githubusercontent.com/u/1024025?v=3&s=400" alt="">
        </div>
        <div class="speak-info">
          <h4>Linus Torvolds</h4>
          <h5>Throw your windows laptop out the window </h5>
          <h5>4:45pm</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>Microsoft's release of Windows 10 has added a new wrinkle to the eternal "Windows versus Linux" discussions online. And recently a Linux redditor took the time to install Windows 10 and do some exploring. While he found Windows 10 to be a prettier version of Windows, it wasn't long before he realized that Linux still beats Windows as a desktop operating system..</p></div>
    </li>
    <li>
   <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MDc3MjE4MzE2.jpg" alt="">
        </div>
        <div class="speak-info">
          <h4>Sergy Brin</h4>
          <h5>Dominate the world one search at a time</h5>
          <h5>3:00pm</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>On a daily basis we are blown away by Google search. The coolest subtle thing about it is how it can interpret our numerous typos. We type in 'bsuinesdfsinsidsr apple earninsg' and it knows we really mean, 'business insider Apple earnings.'
      Beyond that little trick, Google search is just plain great. We rarely have trouble finding what we're looking for.</p></div>
    </li>
   <li>
   <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://www.peoples.ru/undertake/soft/larry_wall/wall_larry_walldfg.jpg" alt="">
        </div>
        <div class="speak-info">
          <h4>Larry Wall</h4>
          <h5>I love css</h5>
          <h5>1:15pm</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>So you don't like Variables. And why in the world should you spend time wrapping your head around mixins, functions and all that jazz? Well, you don't. Sass isn't going to punish you for that. However, I can promise you that even with your purest intentions, you're going to find yourself using them sooner or later. Not because you'd have to, but because you'll want to. Same goes for mixins.
      Even if you are never, ever going to write a single Sass function or a mixin, you're still going to use them eventually because you'll find more and more frameworks that do the hard work for you, letting you benefit from that work by using a mixin.</p></div>
    </li>

    <li>
   <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://www.unixica.com/images/thompson.jpeg " alt="">
        </div>
        <div class="speak-info">
          <h4>Ken Thompson</h4>
          <h5>Why you should swith to es2015</h5>
          <h5>1:15pm</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>If you’re a developer, you’ve probably heard a little bit about ECMAScript 6 (ES6) already, though at first glance it might seem a little confusing. What it really boils down to is this: it’s the next version of JavaScript, which delivers new language features you’ll be able to use long-term.
      ES6 support is coming along well in major desktop browsers, with Chrome at more than 90 percent compatibility, Edge at 80 percent and Safari at 54 percent. On mobile there’s just 31 percent of ES6 support for Android 5.1 users and 54 percent for iOS users..</p></div>
    </li>
   <li>
   <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://ak-cache.legacy.net/legacy/images/cobrands/nhregister/photos/newhavenregister_hudak_paul_20150430.jpg" alt="">
        </div>
        <div class="speak-info">
          <h4>Paul Hudak</h4>
          <h5>HAskell the language of kings</h5>
          <h5>12:45pm</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>Hasskell 2010 adds the foreign function interface (FFI) to Haskell, allowing for bindings to other programming languages, fixes some syntax issues (changes in the formal grammar), and bans so-called n-plus-k-patterns, that is, definitions of the formfact (n+1) = (n+1) * fact n are no longer allowed. It introduces the Language-Pragma-Syntax-Extension which allows for code designating a Haskell source as Haskell 2010 or requiring certain extensions to the Haskell language. </p></div>
    </li>
   <li>
   <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://lampwww.epfl.ch/~odersky/images/Martin.JPG" alt="">
        </div>
        <div class="speak-info">
          <h4>Martin Odersky</h4>
          <h5>Scarla the new language of choice</h5>
          <h5>11:30am</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>How does VR work? How does wearable tech make you think you're standing on Mars when you're actually about to bump into the kitchen counter? We'll be explaining how virtual reality headsets work here.</p></div>
    </li>
   <li>
  </ul>
</div>
