 <h2>Guest Speakers</h2>

  <button class="guest-speaker-list
">
    <div class="speak-img-holder">
      <img class="speak-img" src="https://www.placecage.com/g/200/200" alt="">
   </div>
   <div class="speak-info">  
      <h4>Harold</h4>
      <p>VR and the future</p>
      <p>2:00pm</p>
  </div>
  </button>
<div class="panel">
  <p>How does VR work? How does wearable tech make you think you're standing on Mars when you're actually about to bump into the kitchen counter? We'll be explaining how virtual reality headsets work here.</p>
  <p>2:00pm</p>
  <a href="#">tickets</a>
</div>

<button class="guest-speaker-list">
    <div class="speak-img-holder">
      <img class="speak-img" src="https://www.placecage.com/g/200/200" alt="">
   </div>
   <div class="speak-info">  
      <h4>Boris</h4>
      <p>Javascript frameworks</p>
      <p>3:30pm</p>
  </div>
  </button>
<div class="panel">
  <p>It seems like almost every other week there is a new JavaScript library taking the web community by storm! The web community is increasingly vibrant, diverse and is moving rapidly on multiple fronts. It would be an impossible feat to survey every major JavaScript framework and library. Instead,I will share some of the most famous and influential ones for front-end development. So let’s take a look at the top JavaScript web front-end framework, libraries & tools and when to use them.

</p>
  <p>3:30pm</p>
  <a href="#">tickets</a>
</div>

<button class="guest-speaker-list">
 <div class="speak-img-holder">
      <img class="speak-img" src="https://www.placecage.com/g/200/200" alt="">
   </div>
   <div class="speak-info">  
      <h4>Merve</h4>
      <p>Rails</p>
      <p>5:00pm</p>
  </div>
  </button>
<div class="panel">
  <p>Rails is a web application development framework written in the Ruby language. It is designed to make programming web applications easier by making assumptions about what every developer needs to get started. It allows you to write less code while accomplishing more than many other languages and frameworks. Experienced Rails developers also report that it makes web application development more fun.</p>
  <p>5:00pm</p>
  <a href="#">tickets</a>
</div>