 <h2 id="about-title" class="card-panel center-align">Speakers</h2>

 <ul class="collapsible" data-collapsible="accordion">
    <li>

      
    <!-- the scroll wheel -->
      <a href="#" class="back-to-top">Back to Top</a>

      <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div class="speak-image">
          <img class="" id="profile-pic" src="http://aranandersonphotography.com.au/wp-content/uploads/2013/03/aran-anderson-sydney-corporate-portrait-photography-0043-150x150.jpg" alt="">
        </div>
        <div class="speak-info">  
          <h4>Lauren K</h4>
          <h5>VR and the future</h5>
          <h5>2:00pm</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>How does VR work? How does wearable tech make you think you're standing on Mars when you're actually about to bump into the kitchen counter? We'll be explaining how virtual reality headsets work here.</p></div>
    </li>
   <li>
      <div id="speak-accordian" class="center-align collapsible-header"><i class=" material-icons">
      </i>
        <div id="speak-pic" class="speak-image">
          <img id="profile-pic" src="https://pbs.twimg.com/profile_images/378800000544624963/8f68b037bdb425a93fc74bcfb5ad9332_400x400.jpeg" alt="">
        </div>
        <div class="speak-info">  
          <h4>Bender</h4>
          <h5>The Gods of Javascript </h5>
          <h5>3:00pm</h5>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body"><p>It seems like almost every other week there is a new JavaScript library taking the web community by storm! The web community is increasingly vibrant, diverse and is moving rapidly on multiple fronts. It would be an impossible feat to survey every major JavaScript framework and library. Instead,I will share some of the most famous and influential ones for front-end development. So let’s take a look at the top JavaScript web front-end framework, libraries & tools and when to use them.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
