
<div class="speaker-hide-on-web" id="speakers-section">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align">Speakers</h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://blogs.timesofindia.indiatimes.com/wp-content/uploads/2015/12/mark-zuckerberg.jpg" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Mark Zuckerburg</h5>
          <p class="speak-text">Lamborgini vs React</p>
          <p class="speak-text">6:00pm</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">React is a JavaScript library for building user interfaces, created and open-sourced by Facebook. It was first released in 2013, and its original slogan was, “Rethinking best practices.” Why? Because the most well-known JavaScript frameworks (i.e., Ember.js and AngularJS) at the time based their architecture on the MVC pattern, which largely focuses on separating the application logic from the view.</p>
      </div>
    </li>
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align"></h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="https://avatars3.githubusercontent.com/u/1024025?v=3&s=400" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Linus Torvolds</h5>
          <p class="speak-text">Throw your windows laptop out the window</p>
          <p class="speak-text">4:45pm</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">Microsoft's release of Windows 10 has added a new wrinkle to the eternal "Windows versus Linux" discussions online. And recently a Linux redditor took the time to install Windows 10 and do some exploring. While he found Windows 10 to be a prettier version of Windows, it wasn't long before he realized that Linux still beats Windows as a desktop operating system..</p>
      </div>
    </li>
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align"></h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="https://s3-media4.fl.yelpcdn.com/buphoto/JdlSONmIV7x2C2aj186CjQ/o.jpg" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Laurie Parker</h5>
          <p class="speak-text">Learn Materilize</p>
          <p class="speak-text">3:00pm</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">Created and designed by Google, Material Design is a design language that combines the classic principles of successful design along with innovation and technology. Google's goal is to develop a system of design that allows for a unified user experience across all their products on any platform.</p>
      </div>
    </li>
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align"></h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MDc3MjE4MzE2.jpg" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Sergy Brin</h5>
          <p class="speak-text">Dominate the world one search at a time</p>
          <p class="speak-text">2:30pm</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">On a daily basis we are blown away by Google search. The coolest subtle thing about it is how it can interpret our numerous typos. We type in 'bsuinesdfsinsidsr apple earninsg' and it knows we really mean, 'business insider Apple earnings.'
        Beyond that little trick, Google search is just plain great. We rarely have trouble finding what we're looking for.</p>
      </div>
    </li>
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align"></h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="https://girl-develop-it.s3.amazonaws.com/uploads/bio/image/34/paige.jpg" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Hellen C</h5>
          <p class="speak-text">How to be a digital nomad</p>
          <p class="speak-text">1:15pm</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">Feel miserable working in a cubicle or living in a boring town? The Internet has revolutionized the term ‘work’ today, bringing new opportunities and employment that didn’t exist until recently.For many, the Internet is an opportunity to combine work and traveling the world. The term ‘digital nomad’ is frequently overused and often simply means hacking around in cheap accommodation with a small level of income to keep you going. But, there are some folks out there who have shown that you can combine a career with the freedom to travel on your own schedule.</p>
      </div>
    </li>
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align"></h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="https://tstotips.files.wordpress.com/2013/04/tumblr_l8tqqjdg8t1qdh2wxo1_500.png?w=300&h=300" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Hank Scorpio</h5>
          <p class="speak-text">World Business Entrepreneur</p>
          <p class="speak-text">12:30pm</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">Most aspiring entrepreneurs feel it in their bones -- they were born to be an entrepreneur, to the point where nothing else in life could satisfy them. They’re dissatisfied as employees, followers or consumers. They want to create, build and grow their own enterprises, and they’re filled with the passion of their own ingenuity.Here are 50 habits that born-to-be entrepreneurs can’t help but show. How many do you possess?</p>
      </div>
    </li>
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align"></h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="http://wp.streetwise.co/wp-content/blogs.dir/3/files//2016/04//headshot2.png" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Sarah Wall</h5>
          <p class="speak-text">I'm tired of Pearl, Lets Learn es6</p>
          <p class="speak-text">11:30am</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">JavaScript is gathering a lot of attention since news of Microsoft, IBM and the Linux Foundation announced their support to Node.js just few days ago. It is overdue to bring 2015 modern language features to JavaScript and ES6 is trying to do just that.If you’re a busy JavaScript software engineer (and who is not?), then come see the talk. We will be covering the best 10 features of the new generation of the most popular programming language</p>
      </div>
    </li>
    <li>
      <div id="speak-accordian" class="center-align collapsible-header">
        <h4 id="speakers-title" class="center-align"></h4>
        <div class="speak-image">
          <img id="profile-pic" class="circle responsive-img" src="https://s19.postimg.org/myn2xwftf/ray2.jpg" alt="">
        </div>
        <div class="speak-info">
          <h5 class="speak-text speak-name">Professor Ray</h5>
          <p class="speak-text">NP Hard Problem Softened"</p>
          <p class="speak-text">10:45am</p>
        </div>
      </div>
      <div id="speak-colapse" class="collapsible-body">
        <p class="speak-para">NP-hardness (non-deterministic polynomial-time hard), in computational complexity theory, is a class of problems that are, informally, "at least as hard as the hardest problems in NP". More precisely, a problem H is NP-hard when every problem L in NP can be reduced in polynomial time to H. As a consequence, finding a polynomial algorithm to solve any NP-hard problem would give polynomial algorithms for all the problems in NP, which is unlikely as many of them are considered hard.</p>
      </div>
    </li>
    </ul>
</div>

  <div class="speak-web-version">   
    <div class="row">
      <div class="all-speakers col s12">
        <div class="card">
            <!-- card one -->
          <div class="card-image">
            <img src="http://blogs.timesofindia.indiatimes.com/wp-content/uploads/2015/12/mark-zuckerberg.jpg">
            <span class="card-title">Mark Z  
            </span>
          </div>
        <div class="card-content">
              <h5>React Vs Lamborgini</h5>
              <p>React is a JavaScript library for building user interfaces, created and open-sourced by Facebook. It was first released in 2013, and its original slogan was, “Rethinking best practices.” Why? Because the most well-known JavaScript frameworks (i.e., Ember.js and AngularJS) at the time based their architecture on the MVC pattern, which largely focuses on separating the application logic from the view.</p>
        </div>
        <div class="card-action">
          <p>6:00pm</p>
        </div>
      </div>
        <div class="card">
            <!-- card two -->
            <div class="card-image">
              <img src="https://avatars3.githubusercontent.com/u/1024025?v=3&s=400">
              <span class="card-title">Linus Torvolds
              
              </span>
            </div>
            <div class="card-content">
              <h5>Throw away your laptop</h5>
              <p>Microsoft's release of Windows 10 has added a new wrinkle to the eternal "Windows versus Linux" discussions online. And recently a Linux redditor took the time to install Windows 10 and do some exploring. While he found Windows 10 to be a prettier version of Windows, it wasn't long before he realized that Linux still beats Windows as a desktop operating system..</p>
            </div>
            <div class="card-action">
             <p>4:45pm</p>
            </div>
          </div>
         <div class="card">
            <!-- card three -->
            <div class="card-image">
              <img src="https://s3-media4.fl.yelpcdn.com/buphoto/JdlSONmIV7x2C2aj186CjQ/o.jpg">
              <span class="card-title">Laurie Parker
              
              </span>
            </div>
            <div class="card-content">
              <h5>Quickly Learn Materialize</h5>
              <p>Created and designed by Google, Material Design is a design language that combines the classic principles of successful design along with innovation and technology. Google's goal is to develop a system of design that allows for a unified user experience across all their products on any platform.Learning Materalize is a clean and simple way to create apps. </p>
              <p>
              
              </p>
            </div>
            <div class="card-action">
             <p>3:00pm</p>
            </div>
          </div>
          <div class="card">
            <!-- card four -->
            <div class="card-image">
              <img src="http://a3.files.biography.com/image/upload/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjM0MDc3MjE4MzE2.jpg">
              <span class="card-title">Sergy Brin
              
              </span>
            </div>
            <div class="card-content">
              <h5>Dominate the world one search at a time</h5>
              </p>On a daily basis we are blown away by Google search. The coolest subtle thing about it is how it can interpret our numerous typos. We type in 'bsuinesdfsinsidsr apple earninsg' and it knows we really mean, 'business insider Apple earnings.' Beyond that little trick, Google search is just plain great. We rarely have trouble finding what we're looking for.</p>
            </div>
            <div class="card-action">
             <p>2:30pm</p>
            </div>
          </div>
          <div class="card">
          
            <div class="card-image">
              <img src="https://girl-develop-it.s3.amazonaws.com/uploads/bio/image/34/paige.jpg">
              <span class="card-title">Hellen C
              
              </span>
            </div>
            <div class="card-content">
              <h5>How to be a digital nomad</h5>
              <p>The Internet has revolutionized the term ‘work’ today, bringing new opportunities and employment that didn’t exist until recently.For many, the Internet is an opportunity to combine work and traveling the world. The term ‘digital nomad’ is frequently overused and often simply means hacking around in cheap accommodation with a small level of income to give you the ability to travel around the world with enough cash to keep you going.</p>
            </div>
            <div class="card-action">
             <p>1:15pm</p>
            </div>
          </div>
          <div class="card">
          
            <div class="card-image">
              <img src="https://tstotips.files.wordpress.com/2013/04/tumblr_l8tqqjdg8t1qdh2wxo1_500.png?w=300&h=300">
              <span class="card-title">Hank Scorpio
              
              </span>
            </div>
            <div class="card-content">
              <h5>World Business Entrepreneur</h5>
              <p>Most aspiring entrepreneurs feel it in their bones -- they were born to be an entrepreneur, to the point where nothing else in life could satisfy them. They’re dissatisfied as employees, followers or consumers. They want to create, build and grow their own enterprises, and they’re filled with the passion of their own ingenuity.Here are 50 habits that born-to-be entrepreneurs can’t help but show. How many do you possess?</p>
            </div>
            <div class="card-action">
             <p>12:30pm</p>
            </div>
          </div>
          <div class="card">
            
            <div class="card-image">
              <img src="http://wp.streetwise.co/wp-content/blogs.dir/3/files//2016/04//headshot2.png">
              <span class="card-title">Sarah Wall
              
              </span>
            </div>
            <div class="card-content">
              <h5>Let's all learn es6 together</h5>
              <p>JavaScript is gathering a lot of attention since news of Microsoft, IBM and the Linux Foundation announced their support to Node.js just few days ago. It is overdue to bring 2015 modern language features to JavaScript and ES6 is trying to do just that.If you’re a busy JavaScript software engineer (and who is not?), then come see the talk. We will be covering the best 10 features of the new generation of the most popular programming language </p>
            </div>
            <div class="card-action">
             <p>11:30am</p>
            </div>
          </div>
          <div class="card">
            
            <div class="card-image ray-pic">
              <img src="https://s19.postimg.org/myn2xwftf/ray2.jpg">
              <span class="card-title">Professor Ray
              
              </span>
            </div>
            <div class="card-content ray-p">
              <h5>NP Hard Problem Softened </h5>
              <p>NP-hardness (non-deterministic polynomial-time hard), in computational complexity theory, is a class of problems that are, informally, "at least as hard as the hardest problems in NP". More precisely, a problem H is NP-hard when every problem L in NP can be reduced in polynomial time to H.</p>
            </div>
            <div class="card-action">
             <p>10:45am</p>
            </div>
          </div> 
        </div>
      </div>
  </div>
