
<div id="sponsors-section">
  <h4 id="sponsors-title" class="center-align">Sponsors</h4>
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.google.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/23.png" alt="Google">
        </a>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.facebook.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/6.png" alt="Facebook">
        </a>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.stripe.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/16.png" alt="Stripe">
        </a>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.uber.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/21.png" alt="Uber">
        </a>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.dropbox.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/25.png" alt="Dropbox">
        </a>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.twitch.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/15.png" alt="Twitch">
        </a>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.include.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/2.png" alt="Twitch">
        </a>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="logo-container">
        <a href="http://www.asana.com">
          <img class="logo" src="http://riseawards.co/rise/images/companies/7.png" alt="Asana">
        </a>
      </div>
    </div>
  </div>
</div>
