


<div class="ticketing">
  <!-- <div class="talk-list">
    <div class="talk" id="1">
      <div class="topic">Js Prototype</div>
      <div class="price">$50</div>
      <div claas="seatsleft">50</div>
      <div class="ticketForm">
        <input class="ticketQty" type="text" value=100>
        <button class="-"> - </button>
        <button class="+"> + </button>
      </div>
    </div>

  </div> -->


</div>

<script type="text/template" id="talks-index-template">

    <div class="talk">
      <div class="ticketField">
        <button class="+"> + </button>
        <button class="-"> - </button>
      </div>
    </div>

  <div><button>Go back</button><button>Next</button></div>
</script>


<script id="event-template" type="x-bars">

  <h1>{{ topic }}</h1>
  <h3 class="year">{{ price }}</h3>

</script>
