


<div class="trigger"><a href="#bookings">Show Talks</a></div>
<div class="main"></div>

<script type="text/template" id="talks-index-template">

    <div class="talk">
      <div class="ticketField">
        <button class="+"> + </button>
        <button class="-"> - </button>
      </div>
    </div>

  <div><button>Go back</button><button>Next</button></div>
</script>


<script id="card-template" type="x-bars">

  <h1>{{ title }}</h1>
  <h3 class="year">{{ year }}</h3>

</script>
