
<script type="text/template" id="talks-index-template">

    <div class="talk">
      <div class="ticketField">
        <button class="+"> + </button>
        <button class="-"> - </button>
      </div>
    </div>

  <div><button>Go back</button><button>Next</button></div>
</script>


<script id="event-template" type="x-bars">

  <h1>{{ topic }}</h1>
  <h3 class="year">{{ price }}</h3>

</script>
