<h1>Timetable</h1>
<table style="width:100%">
  <tr id="tt-topRow">
    <th>WDI Conf</th>
    <th>Topic</th>
    <th>Time</th> 
    <th>Room</th>
  </tr>
  <tr>
    <td>Speaker 1</td>
    <td>topic</td>
    <td>9:30am</td> 
    <td>1</td>
  </tr>
  <tr class="tt-greyRow">
    <td>Speaker 2</td>
    <td>topic</td>
    <td>10:15am</td> 
    <td>3</td>
  </tr>
  <tr>
    <td>Speaker 1</td>
    <td>topic</td>
    <td>11:30am</td> 
    <td>2</td>
  </tr>
  <tr class="tt-greyRow">
    <td>Speaker 2</td>
    <td>topic</td>
    <td>12:00pm</td> 
    <td>1</td>
  </tr>
    <tr>
    <td>Speaker 1</td>
    <td>topic</td>
    <td>1:45pm</td> 
    <td>5</td>
  </tr>
  <tr class="tt-greyRow">
    <td>Speaker 2</td>
    <td>topic</td>
    <td>3:30pm</td> 
    <td>4</td>
  </tr>
</table>