<h4 id="schedule-title" class="center-align">Schedule</h4>

<table style="width:100%" class="bordered highlight">
  <tr>
    <th>WDI Conf</th>
    <th>Topic</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>Martin Odersky</td>
    <td>Scarla</td>
    <td>11:30am</td>
  </tr>
  <tr>
    <td>Paul Hudak</td>
    <td>HAskell</td>
    <td>12:45pm</td>
  </tr>
  <tr>
    <td>Ken Thompson</td>
    <td>es2015</td>
    <td>1:15pm</td>
  </tr>
  <tr>
    <td>Larry Wall</td>
    <td>CSS</td>
    <td>1:15pm</td>
  </tr>
  <tr>
    <td>Sergy Brin</td>
    <td>Google Search</td>
    <td>3:00pm</td>
  </tr>
  <tr>
    <td>Linus Torvolds</td>
    <td>Linux</td>
    <td>4:45pm</td>
  </tr>
  <tr>
    <td>Mark Zuckerburg</td>
    <td>React</td>
    <td>6:00pm</td>
  </tr>
</table>
