<h1>Timetable</h1>
<table style="width:100%">
  <tr id="tt-topRow">
    <th>WDI Conf</th>
    <th>Topic</th>
    <th>Time</th> 
    <th>Room</th>
  </tr>
  <tr>
    <td>Martin Odersky</td>
    <td>Scarla</td>
    <td>11:30am</td> 
    <td>1</td>
  </tr>
  <tr class="tt-greyRow">
    <td>Paul Hudak</td>
    <td>HAskell</td>
    <td>12:45pm</td> 
    <td>3</td>
  </tr>
  <tr>
    <td>Ken Thompson</td>
    <td>es2015</td>
    <td>1:15pm</td> 
    <td>2</td>
  </tr>
  <tr class="tt-greyRow">
    <td>Larry Wall</td>
    <td>CSS</td>
    <td>1:15pm</td> 
    <td>1</td>
  </tr>
  <tr>
    <td>Sergy Brin</td>
    <td>Google Search</td>
    <td>3:00pm</td> 
    <td>5</td>
  </tr>
  <tr class="tt-greyRow">
    <td>Linus Torvolds</td>
    <td>Linux</td>
    <td>4:45pm</td> 
    <td>4</td>
  </tr>
  <tr>
    <td>Mark Zuckerburg</td>
    <td>React</td>
    <td>6:00pm</td> 
    <td>5</td>
  </tr>
</table>