
#about-content{
	margin: 5em auto 0 auto;
	background-color: #4184F3;
	color: white;
	padding: 1em;
}

#about-title, .about-p {
	color: white;
}

.about-p {
	font-weight: 100;
	// text-align: justify;
  // text-justify: inter-word; //for IE
}
