.talkList{
  clear:both;
}

.talk{
  width:80%;
  margin: 10% auto;
}

.ticketing .talk .row{
  margin-bottom: 1em;
}


.talk
.talk-header
{
  text-align: center;
  width: 100%;
}

.talk-header
.time
{
  text-align: center;
  width: 100%;
  font-size: 1em;
}

.topic {
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

.ticket-entry .ticketQty{
  margin: 0 20% 0 20%;
  width: 60%;
  height: 2em;
  text-align: center;
  background-color:#fff;
  font-size: 2em;
}

.price-seat div{
  display:inline-block;
  width:50%;
  font-size: 1em;
  text-align:center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.minus, .plus{
  /*max-width: 54px;*/
  width: 50%;
  font-size: 2em;
  display:inline-block;
  background-color: #4184F3 !important;
}

.minusDiv {

}

.plusDiv {

}
.plus {
  /*margin-left: 2px;*/
  margin: 0 0 0 10%;
}

.minus {
  /*margin-right: 2px;*/
  margin: 0 5% 0 46%
}

.pricePanel {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 1em;
}

#book-back-btn, #book-btn{
  background-color: #4184F3;
  display: inline-block;
  margin:0;
  margin-bottom: 1em;
  width: 57%;
}

#book-back-btn {
  margin-right: 10%;
  margin-left: 48%;
}

#book-btn {
  margin-left: 4.5%;
  margin-right: 3.5%;
}

#book-back-btn i{
  transform: rotate(180deg);
  margin-right: 0;
}

#book-btn i{
  margin-left: 0;
}

.tfoot{
    border: 0;
    border-top: 1px solid #d0d0d0;
}
