#footer-top {
  background-color: #4184F3;
}

.footer-text {
  font-weight: 200;
}

.share-btn {
  display: inline-block;
  margin: .5em;
}

#facebookBtn {
  position: relative;
  top: -13px;
}

.share-container {
  text-align:center;
  margin-top: 1em;
}
