h1, h2, h3, h4, h5, h6, p, th, td {
 color: #616161;
}

th {
  font-weight: 400;
}


h4, td {
 font-weight: 300;
}

/*
  About scroll wheel
*/

a.back-to-top {
  position: fixed;
  right: 2em;
  bottom: 2em;
  background: #3367D5;
}

.up-arrow {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

video {
  margin: 2em auto;
  width: auto;
}

.title-msg {
  margin-top: 0;
  font-weight: 300;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 2s;
  line-height: 1.3em;
}

@-webkit-keyframes fadeInDown {
  0% {
     opacity: 0;
     -webkit-transform: translateY(-40px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateY(-30px);
  }
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-40px);
  }
  100% {
     opacity: 1;
     transform: translateY(-30px);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

#buy-btn {
  background-color: #4184F3;
  display: block;
  margin: 2em auto 4em auto;
  width: 11em;
  font-weight: bold;
}

#submit-btn, #back-btn, #home-btn {
  background-color: #4184F3;
  margin: 0 auto;
}

#payment {
  padding: 2em;
}

.menu-item {
  font-weight: 300;
}

#home-btn {
  margin-top: 11em;
  width: 100%;
}

#tick {
  display: block;
  margin: 1em auto 0 auto;
  width: 84px;
}

.line-height {
  line-height: 1.5em;
}

.line-height-h4 {
  line-height: 1.3em;
}

#payment-successful, #payment-text, #payment-text2 {
  color: black;
}

#payment-text, #payment-text2 {
  font-weight: 300;
}
