#map {
  width: 100%;
  height: 400px;
  margin-top: 5em;
}

#loc-eventDetails {
  margin-left: 1em;
}

#tt-topRow {
  background-color: #4184F3;
  text-align: center;
}

tr:hover {
  background-color: lightblue;
  transition: 1s;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tt-greyRow {
  background-color: #e6e6e6;
}

#loc-title {
  margin: 2em auto 1em auto;
}

.address {
  color: #4184F3;
}

.loc-text {
  font-weight: 300;
}
