#profile-pic {
  height: 300px;
  width: 400px;
  overflow: hidden;
  border:2px solid #FFFFFF;
 }
 #profile-pic {
  margin-top: 20px;
  height: auto;
  width: 150px;
 }
 #speak-accordian {
  background-color: #3367D5;
  color: white;
 }
 #speak-colapse {
  background-color: #4184F3;
  color: white;
 }
 #about-title {
  margin: auto;
  margin-top: 15%;
  width: 78%;
  padding: 1px;
  border-radius: 10px;
  color: #616161;
  border: solid 4px #3367D5;
}
