
#speakers-section {
  background-color: #4184F3;
  margin: 5em auto 0 auto;
}

#profile-pic {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  // border: white 3px solid;
}

 #speak-accordian {
  background-color: #4184F3;
  color: white;
  padding-bottom: 2em;
 }
 #speak-colapse {
  background-color: white;
  color: white;
 }
 #speakers-title {
   color: white;
   background-color: #4184F3;
   margin-top: 1em;
   margin-bottom: 1em;
  //  font-weight: 200;
}

.speak-text {
  color: white;
  margin: 0;
  height: 2em;
  font-weight: 200;
}

.speak-para {
  font-weight: 200;
}

.speak-name {
  height: 1em;
}


.speak-card-web{
  max-width: 25%;
}

@media (min-width: 65em) {
.speaker-hide-on-web {
display: none;
  }
}

@media (max-width: 66em){
.speak-web-version{
  display: none;
  }
}


.card{
  max-width: 24%;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  vertical-align: top;
  display: inline-block;
}
.row{
  margin: 0;
  padding: 0;
  margin-bottom: 5em;
  margin-top: 1em;
  width: 100%;
  display: flex;
}

.card-title{
  background-color:rgba(0, 0, 0, 0.5);
  margin:0;
  padding: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
}

.all-speakers{
  text-align: center;
}

.card-content{
  height: 600px;
}

.ray-pic{
  padding-bottom: 10px;
}
