#speakers-section {
  background-color: #4184F3;
  margin: 5em auto 0 auto;
}

#profile-pic {
  margin-top: 20px;
  height: 150px;
  width: 150px;
  // border: white 3px solid;
}

 #speak-accordian {
  background-color: #4184F3;
  color: white;
  padding-bottom: 2em;
 }
 #speak-colapse {
  background-color: white;
  color: white;
 }
 #speakers-title {
   color: white;
   background-color: #4184F3;
   margin-top: 1em;
   margin-bottom: 1em;
  //  font-weight: 200;
}

.speak-text {
  color: white;
  margin: 0;
  height: 2em;
  font-weight: 200;
}

.speak-para {
  font-weight: 200;
}

.speak-name {
  height: 1em;
}
