#sponsors-section {
  background-color: #4184F3;
  padding-top: 2em;
  margin: 5em auto 0 auto;
}

#sponsors-title {
  color: white;
  margin-bottom: 2em;
}

.logo-container {
  height: 5em;
}

.logo {
  margin: 0 auto;
  display: block;
}
