<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDI CONF 2016</title>
</head>
<body>
	<div class="wrap">
		<div id="banner"></div>
	</div>
	<div class="wrap">
		<div id="about"></div>
	</div>
	<div class="wrap">
		<div id="location">
			
		</div>
	</div>
	<div class="wrap">
		<div id="speakers">
			
		</div>
	</div>
	<div class="wrap">
		<div id="sponsers">
			
		</div>
	</div>
	<div class="wrap">
		<div id="contact">
			
		</div>
	</div>
</body>
</html>